
.login form{
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin:15px;
  background-color: rgb(112, 193, 244);
  width: 500px;
}
.login form input{
  margin: 12px;
}

.login form Button{
  margin: 12px;
}
form {
  box-shadow: 0 0 10px rgba(10, 11, 10, 0.2);
}